@model ShowForm
@using ATNET_WEBAPP_KON0355.Models
@{
    ViewData["Title"] = "Úvodní stránka";
}
<!DOCTYPE html>
<style>
    .nav-item::after {
        content: '';
        display: block;
        width: 0px;
        height: 4px;
        background: #ff0000;
        transition: 0.2s;
        margin-top: -10px;
    }

    .nav-item:hover::after {
        width: 100%;
    }


    .nav-link {
        padding: 15px 5px;
        transition: 0.2s;
    }

    .navbar-nav .nav-link {
        color: #000;
        font-weight: bold;
        font-size: 18px;
    }

    .table {
        align-content: center;
        text-align: center;
        padding: 5% 25% 0% 25%;
    }

    .form {
        align-content: center;
        text-align: start;
        padding: 2% 25% 0% 25%;
    }
    .form-button {
        align-content: center;
        text-align: start;
        padding-top: 2%; 
        padding-bottom: 10%;
    }
    
</style>
<html lang="en">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>@ViewData["Title"] - ATNET_WEBAPP_KON0355</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg">

        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="@Url.Action("Index","Home")" class="nav-link">@GlobalizationResources.Resources.Home</a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Login","Home")" class="nav-link">@GlobalizationResources.Resources.Data</a>
            </li>
        </ul>
    </nav>

    <div class="table">
        <table>
            <caption></caption>
            <tr>
                <th>Id</th>
                <th>@GlobalizationResources.Resources.Name</th>
                <th>@GlobalizationResources.Resources.Series</th>
                <th>@GlobalizationResources.Resources.Episodes</th>
                <th>@GlobalizationResources.Resources.FavChar</th>
                <th>@GlobalizationResources.Resources.Edit</th>
                <th>@GlobalizationResources.Resources.Delete</th>
            </tr>
            @foreach (Show s in Show.showsList)
            {
                <tr>
                    <td>@s.ID</td>
                    <td>@s.Name</td>
                    <td>@s.Series</td>
                    <td>@s.Episodes</td>
                    <td>@s.Character</td>
                    <td><a href="@Url.Action("EditShow","Home", new { id = s.ID})">@GlobalizationResources.Resources.Edit</a>
                    <td>
                    <td><a href="@Url.Action("DeleteShow","Home", new { id = s.ID})">@GlobalizationResources.Resources.Delete</a>
                    <td>
                </tr>
            }
        </table>
    </div>
    <div class="form">
        <h3>@GlobalizationResources.Resources.DataTitle</h3>
    </div>
    <div class="form">
        @using (Html.BeginForm())
        {
            @Html.LabelFor(s => s.Name)
            @Html.TextBoxFor(s => s.Name, null, new { @class = "form-control", placeholder = @GlobalizationResources.Resources.Name })

            @Html.LabelFor(s => s.Episodes)
            @Html.TextBoxFor(s => s.Episodes, null, new { @class = "form-control", placeholder = 1, type = "number" })

            @Html.LabelFor(s => s.Series)
            @Html.TextBoxFor(s => s.Series, null, new { @class = "form-control", placeholder = 1, type = "number" })

            @Html.LabelFor(s => s.Character)
            @Html.TextBoxFor(s => s.Character, null, new { @class = "form-control", placeholder = @GlobalizationResources.Resources.FavChar})
            <div class="form-button">
                <input type="submit" value="@GlobalizationResources.Resources.Add" />
                @Html.ValidationSummary()
            </div>
        }
    </div>
</body>
</html>
